/* Start Global Rules */
:root {
	--main-color: #4285f4;
	--main-color-alt: #f5f4f4;
	--main-transition: 0.3s;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Cairo', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	box-sizing:none;

}
a {
	text-decoration: none;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*Small*/
@media (min-width: 768px) {
	.container {
		width: 750px;
		padding-left: 0;
		padding-right: 0;
	}
}
/*Meduim*/
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/*Large*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.main_title {
	position: relative;
	margin: 100px auto;
	width: fit-content;
	border: 3px solid black;
	padding: 10px 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	z-index: 2;
	text-align: center;
}
.main_title::before,
.main_title::after {
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.main_title::before {
	left: -30px;
	background-color: #34a853;
}
.main_title::after {
	right: -30px;
	background-color: #4285f4;
}
.main_title:hover:before {
	z-index: -1;
	animation: left_move 0.5s linear forwards;
	-webkit-animation: left_move 0.5s linear forwards;
}
.main_title:hover::after {
	z-index: -1;
	animation: right_move 0.5s linear forwards;
	-webkit-animation: right_move 0.5s linear forwards;
}
.main_title:hover {
	border: 5px solid white;
	transition-delay: 0.5s;
	color: white;
}
/* End Global Rules */

/* start header */
header {
	background-color: white;
	position: relative;
	box-shadow: 0 0 10px black;
	height: auto;
	max-width: 100%;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}


@media (max-width: 767px) {
	header img {
		margin: auto;
		padding-bottom: 10px;
	}
}
header .main_nav {
	display: flex;
}
header .main_nav > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	position: relative;
	color: black;
	padding: 0 30px;
	transition: var(--main-transition);
	overflow: hidden;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li:hover .mega_menu {
	opacity: 1;
	z-index: 10;
	top: calc(100% + 2px);
}
@media (max-width: 767px) {
	header .main_nav {
		margin: auto;
	}
	header .main_nav > li > a {
		padding: 10px;
		font-size: 14px;
		height: 32px;
	}
}
header .main_nav > li > a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-image: linear-gradient(
		to left,
		#4285f4 25%,
		#ea4335 25%,
		#ea4335 50%,
		#fbbc04 50%,
		#fbbc04 75%,
		#34a853 75%,
		#34a853 100%
	);
	left: -100%;
	top: 0;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li > a:hover {
	color: #ea4335;
	background-color: #f2f2f2;
}
header .main_nav > li > a:hover::before {
	left: 0;
}
header .mega_menu {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 20px;
	background-color: white;
	border-bottom: 5px solid;
	border-image: linear-gradient(
			to left,
			#4285f4 25%,
			#ea4335 25%,
			#ea4335 50%,
			#fbbc04 50%,
			#fbbc04 75%,
			#34a853 75%,
			#34a853 100%
		)30;
	z-index: -22;
	opacity: 0;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 40px;
	top: calc(100% + 50px);
	transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
	header .mega_menu {
		flex-direction: column;
		gap: 0;
	}
}
header .mega_menu .imag img {
	max-width: 100%;
}
@media (max-width: 991px) {
	header .mega_menu .imag img {
		display: none;
	}
}
header .mega_menu .links {
	min-width: 240px;
	flex: 1;
}
header span::before {
	content: "";
}
header .mega_menu .links li a {
	color: var(--main-color);
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}
header .mega_menu .links li i {
	margin-left: 10px;
}
header .mega_menu .links li {
	position: relative;
}
header .mega_menu .links li:not(:last-child) {
	border-bottom: 2px solid #e9e6e6;
}
@media (max-width: 767px) {
	header .mega_menu .links:first-of-type li:last-child {
		border-bottom: 2px solid #e9e6e6;
	}
}
header .mega_menu .links li::before {
	content: "";
	height: 100%;
	width: 0;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: var(--main-transition);
}
header .mega_menu .links li:hover::before {
	width: 100%;
}
/* End header */
/* Start courses */
.courses {
	background-color: var(--main-color-alt);
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: calc(100vh - 147px);
  }
  .courses .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
	direction: ltr;
  }
  .courses .box {
	background-color: white;
	box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
	counter-increment: courses;
	transition: var(--main-transition);
	position: relative;
  }
  .courses .box::before {
	content: "";
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	top: -3px;
	background-color: var(--main-color);
	position: absolute;
	width: 0;
	transition: var(--main-transition);
  }
  .courses .box:hover {
	transform: translateY(-10px);
  }
  .courses .box:hover::before {
	width: 100%;
  }
  .courses .box > i {
	margin: 30px auto 20px;
	display: block;
	text-align: center;
	color:var(--main-color);
  }
  .courses .box > h3 {
	text-align: center;
	margin: 20px 0 40px;
	font-size: 25px;
	color: #5e4e4ecf;
  }
  .courses .box .info {
	padding: 15px;
	position: relative;
	background-color: #f9f9f9;
	text-align: right;
  }
  .courses .box .info::before {
	content: counter(courses);
	position: absolute;
	background-color: var(--main-color);
	color: white;
	left: 0;
	top: 0;
	height: 100%;
	width: 80px;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 15px;
  }
  .courses .box .info::after {
	content: "";
	position: absolute;
	background-color: #d5d5d5;
	top: 0;
	left: 80px;
	width: 50px;
	height: calc(100% + 0.4px);
	transform: skewX(-30deg);
  }
  .courses .box .info a {
	color: var(--main-color);
	font-weight: bolder;
  }
  /* End courses */
/* Start Footer */
.footer {
	background-color: #191919;
	padding: 70px 0 0;
    bottom: -100px;
}  
  .footer .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
  
  }
  
  .footer .box img {
	margin:0 0 20px;
  }
  .footer .box .social {
	display: flex;
  }
  @media (max-width: 767px) {
	.footer .box .social {
	  justify-content: center;
	}
  }
  .footer .box .social li {
	margin-right: 10px;
  }
  .footer .box .social li a {
	background-color: #313131;
	color: #b9b9b9;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	transition: var(--main-transition);
  }
  .footer .box .social .facebook:hover {
	background-color: #1877f2;
  }
  .footer .box .social .twitter:hover {
	background-color: #1da1f2;
  }
  .footer .box .social .youtube:hover {
	background-color: #ff0000;
  }

  @media (max-width: 767px) {
	.footer .box .line {
	  flex-direction: column;
	}
  }
  .footer .box .line i {
	font-size: 25px;
	color: var(--main-color);
	margin-right: 10px;
  }
  @media (max-width: 767px) {
	.footer .box .line i {
	  margin-right: 0;
	  margin-bottom: 15px;
	}
  }
  .footer .box .line .info {
	line-height: 1.7;
	flex: 1;
	color:white;
  }
  .footer .box .line .info span {
	display: block;
  }


  .footer .copyright {
	padding: 25px 0;
	text-align: center;
	color: white;
	margin: 50px 0 0;
	border-top: 1px solid #444;
  }
  .footer .copyright a {
	  color:white;
  }
  .footer .copyright a:hover {
	  color:var(--main-color);
  }

  @media (max-width:767px) {

	.footer .container .box{
		text-align: center;
	}

}

  /* End Footer */
/* start Anmation */



@keyframes left_move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		left: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}
@keyframes right_move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		right: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}

/* End Anmation */