/* Start Global Rules */
:root {
	--main-color: #4285f4;
	--main-color-alt: #f5f4f4;
	--main-transition: 0.3s;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Cairo', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	box-sizing: none;
}
a {
	text-decoration: none;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*Small*/
@media (min-width: 768px) {
	.container {
		width: 750px;
		padding-left: 0;
		padding-right: 0;
	}
}
/*Meduim*/
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/*Large*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.main_title {
	position: relative;
	margin: 100px auto;
	width: fit-content;
	border: 3px solid black;
	padding: 10px 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	z-index: 222;
	text-align: center;
}
.main_title::before,
.main_title::after {
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.main_title::before {
	left: -30px;
	background-color: #34a853;
}
.main_title::after {
	right: -30px;
	background-color: #4285f4;
}
.main_title:hover:before {
	z-index: -1;
	animation: left_move 0.5s linear forwards;
	-webkit-animation: left_move 0.5s linear forwards;
}
.main_title:hover::after {
	z-index: -1;
	animation: right_move 0.5s linear forwards;
	-webkit-animation: right_move 0.5s linear forwards;
}
.main_title:hover {
	border: 5px solid white;
	transition-delay: 0.5s;
	color: white;
}
/* End Global Rules */

/* start header */
header {
	background-color: white;
	position: relative;
	box-shadow: 0 0 10px black;
	height: auto;
	max-width: 100%;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

@media (max-width: 767px) {
	header img {
		margin: auto;
		padding-bottom: 10px;
	}
}
header .main_nav {
	display: flex;
}
header .main_nav > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	position: relative;
	color: black;
	padding: 0 30px;
	transition: var(--main-transition);
	overflow: hidden;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li:hover .mega_menu {
	opacity: 1;
	z-index: 10;
	top: calc(100% + 2px);
}
@media (max-width: 767px) {
	header .main_nav {
		margin: auto;
	}
	header .main_nav > li > a {
		padding: 10px;
		font-size: 14px;
		height: 32px;
	}
}
header .main_nav > li > a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-image: linear-gradient(
		to left,
		#4285f4 25%,
		#ea4335 25%,
		#ea4335 50%,
		#fbbc04 50%,
		#fbbc04 75%,
		#34a853 75%,
		#34a853 100%
	);
	left: -100%;
	top: 0;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li > a:hover {
	color: #ea4335;
	background-color: #f2f2f2;
}
header .main_nav > li > a:hover::before {
	left: 0;
}
header .mega_menu {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 20px;
	background-color: white;
	border-bottom: 5px solid;
	border-image: linear-gradient(
			to left,
			#4285f4 25%,
			#ea4335 25%,
			#ea4335 50%,
			#fbbc04 50%,
			#fbbc04 75%,
			#34a853 75%,
			#34a853 100%
		)30;
	z-index: -22;
	opacity: 0;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 40px;
	top: calc(100% + 50px);
	transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
	header .mega_menu {
		flex-direction: column;
		gap: 0;
	}
}
header .mega_menu .imag img {
	max-width: 100%;
}
@media (max-width: 991px) {
	header .mega_menu .imag img {
		display: none;
	}
}
header .mega_menu .links {
	min-width: 240px;
	flex: 1;
}
header span::before {
	content: "";
}
header .mega_menu .links li a {
	color: var(--main-color);
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}
header .mega_menu .links li i {
	margin-left: 10px;
}
header .mega_menu .links li {
	position: relative;
}
header .mega_menu .links li:not(:last-child) {
	border-bottom: 2px solid #e9e6e6;
}
@media (max-width: 767px) {
	header .mega_menu .links:first-of-type li:last-child {
		border-bottom: 2px solid #e9e6e6;
	}
}
header .mega_menu .links li::before {
	content: "";
	height: 100%;
	width: 0;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: var(--main-transition);
}
header .mega_menu .links li:hover::before {
	width: 100%;
}
/* End header */
/* start landing */
.landing .container {
	min-height: calc(110vh - 72px);
	display: flex;
	align-items: center;
	padding-bottom: 120px;
}
.landing::before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--main-color-alt);
	z-index: -1;
	transform: skewY(-6deg);
	transform-origin: top;
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
}
.landing .container .text {
	flex: 1;
}
.landing .container .text h1 {
	margin: 0;
	letter-spacing: -2px;
}
.landing .container .text p {
	font-size: 23px;
	line-height: 1.5;
	color: #666;
	margin: 5px 0 0;
	max-width: 500px;
}
@media (max-width: 991px) {
	.landing .container .text {
		text-align: center;
	}
	.landing .container .text p {
		margin: 10px auto;
	}
}
.landing .container .image img {
	position: relative;
	width: 600px;
	animation: up_dowon linear 5s infinite;
	-webkit-animation: up_dowon linear 5s infinite;
}
@media (max-width: 991px) {
	.landing .container .image img {
		display: none;
	}
}
.landing .go_down {
	position: absolute;
	color: var(--main-color);
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.landing .go_down:hover {
	color: #ea4335;
}
.landing .go_down > i {
	animation: bouncing 1.5s infinite;
	-webkit-animation: bouncing 1.5s infinite;
}
/* End landing */
/* Start Stats */
.stats {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
	background-image: url(../images/stats.jpg);
	background-size: cover;
	min-height: 300px;
}
.stats::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
	font-weight: bold;
	font-size: 40px;
	width: fit-content;
	margin: 0 auto 50px;
	position: relative;
	text-align: center;
}
.stats .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}
.stats .box {
	background-color: white;
	padding: 30px 15px;
	text-align: center;
	position: relative;
	opacity: 0.8;
	transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
	content: "";
	position: absolute;
	width: 2px;
	background-color: var(--main-color);
	transition: 1s;
	height: 0;
}
.stats .box::before {
	bottom: 0;
	left: 0;
}
.stats .box::after {
	right: 0;
	bottom: 0;
}
.stats .box:hover {
	opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
	height: 100%;
}
.stats .box .number {
	display: block;
	font-size: 50px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.stats .box .text {
	color: var(--main-color);
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
}
/* End Stats */
/* Start Gallary */
.gallary {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
}
.gallary .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}
.gallary .container .box {
	background-color: white;
	padding: 6px;
	box-shadow: -4px -6px 15px rgb(0 0 0 / 10%), -1px 10px 10px 0px rgb(0 0 0 / 10%);
}
.gallary .container .imge {
	position: relative;
	overflow: hidden;
}
.gallary .container .imge::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 0;
	width: 0;
	background-color: rgb(255 255 255 / 20%);
	opacity: 0;
	z-index: 2;
}
.gallary .container .imge:hover::before {
	animation: flashing 0.7s;
	-webkit-animation: flashing 0.7s;
}
.gallary .container .imge img {
	max-width: 100%;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
.gallary .container .imge:hover img {
	transform: rotate(5deg) scale(1.1);
	-webkit-transform: rotate(5deg) scale(1.1);
	-moz-transform: rotate(5deg) scale(1.1);
	-ms-transform: rotate(5deg) scale(1.1);
	-o-transform: rotate(5deg) scale(1.1);
}
/* End Gallary */
/* start Leaders */
.Leaders {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
	background-color: var(--main-color-alt);
}
.Leaders .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 70px;
}
.Leaders .box {
	padding: 20px;
	background-color: white;
	position: relative;
	box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
	border-radius: 6 px;
}
.Leaders .box img {
	position: absolute;
	left: -9px;
	top: -56px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid var(--main-color-alt);
}
.Leaders .box h3 {
	margin: 0 0 10px;
	color: var(--main-color);
}
.Leaders .box .title {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: black;
}
.Leaders .box .social {
	display: flex;
	gap: 14px;
	width: fit-content;
}
.Leaders .box .social i {
	color: #34a853;
	font-size: 18px;
}
.Leaders .box .social i:hover {
	color: #ea4335;
}
.Leaders .box p {
	color: #777;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 0;
}
/* End Leaders */
/* start clubs */
.clubs {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
}
.clubs .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.clubs .box {
	position: relative;
}
.clubs .box::before,
.box::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	border-radius: 10px;
	transition: var(--main-transition);
}
.clubs .box::before {
	width: calc(100% - 37px);
	background-color: #ececec;
	z-index: -2;
}
.clubs .box::after {
	z-index: -1;
	width: 0;
}
.clubs .box:hover::after {
	width: calc(100% - 37px);
	background-color: #e4e4e4e4;
}
.clubs .box .data {
	display: flex;
	align-items: center;
	padding-top: 60px;
	flex-direction: row-reverse;
}
.clubs .box img {
	max-width: calc(100% - 60px);
	transition: var(--main-transition);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
.clubs .box:hover img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.clubs .box .data .social {
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	gap: 20px;
}
.clubs .box .data .social a {
	width: 60px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
	color: #777;
}
.clubs .box .data .social a:hover i {
	color: var(--main-color);
}
.clubs .box .info {
	padding-left: 10px;
}
.clubs .box .info h3 {
	margin-bottom: 0;
	color: var(--main-color);
	font-size: 22px;
	transition: var(--main-transition);
}
.clubs .box:hover .info h3 {
	color: #777;
}
.clubs .box .info p {
	margin: 10px 0 25px;
}
/* End clubs */
/* start events */
.events {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
	position: relative;
	background-color: var(--main-color-alt);
}
.events .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}
.events img {
	max-width: 450px;
}

@media (max-width: 991px) {
	.events .container {
		flex-direction: column;
	}
	.events img {
		max-width: 350px;
	}
	.events .subscribe {
		margin: auto;
	}
}
.events .info {
	flex: 1;
}
.events .info .time {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 20px auto;
}
.events .info .time .unit {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	width: 75px;
	text-align: center;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
.events .info .time .unit span {
	display: block;
	transition: var(--main-transition);
}
.events .info .time .unit span:first-child {
	font-size: 35px;
	font-weight: bold;
	color: var(--main-color);
	padding: 15px;
}
.events .info .time .unit span:last-child {
	border-top: 1px solid #d4d4d4;
	padding: 8px 10px;
	font-size: 13px;
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
	border-color: var(--main-color);
}
.spikes {
	position: relative;
}
.spikes::after {
	content: "";
	position: absolute;
	right: 0;
	width: 100%;
	height: 30px;
	z-index: 1;
	background-image: linear-gradient(135deg, white 25%, transparent 25%),
		linear-gradient(225deg, white 25%, transparent 25%);
	background-size: 30px 30px;
}
.events .title {
	text-align: center;
	margin: 40px 0 0;
	font-size: 30px;
}
.events .description {
	text-align: center;
	color: #777;
	line-height: 1.7;
	font-size: 19px;
}
.events .subscribe {
	width: 100%;
	margin-top: 50px;
}
.events .subscribe form {
	width: 600px;
	margin: 20px auto;
	padding: 30px 40px;
	background-color: #d4d4d4;
	border-radius: 50px;
	display: flex;
	gap: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}
@media (max-width: 767px) {
	.events .subscribe form {
		max-width: 81%;
		flex-direction: column;
		padding: 20px;
		text-align: center;
	}
}
.events .subscribe form input[type="email"] {
	flex: 1;
	padding: 20px;
	border-radius: 50px;
	border: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	caret-color: var(--main-color);
}
.events .subscribe form input[type="email"]:focus {
	outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
	transition: opacity var(--main-transition);
	-webkit-transition: opacity var(--main-transition);
	-moz-transition: opacity var(--main-transition);
	-ms-transition: opacity var(--main-transition);
	-o-transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
	opacity: 0;
}
.events .subscribe form input[type="submit"] {
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	background-color: var(--main-color);
	padding: 20px;
	border: none;
	color: white;
	cursor: pointer;
}
.events .subscribe form input[type="submit"]:hover {
	background-color: #ea4335;
}
/* End events */
/* Start Videos */
.videos {
	padding-top: var(--main-padding-top);
	padding-bottom: var(--main-padding-bottom);
}
.videos .holder {
	display: flex;
	justify-content: center;
	background-color: var(--section-background);
	border: 1px solid #ddd;
}
@media (max-width: 991px) {
	.videos .holder {
		flex-direction: column;
	}
}
.videos .holder .list {
	min-width: 300px;
	background-color: white;
}
.videos .holder .list .name {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #f4f4f4;
	font-weight: bold;
	/* color: var(--main-color); */
}
.videos .holder .list ul li {
	padding: 20px;
	border-top: 1px solid var(--section-background);
	cursor: pointer;
	transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
	background-color: #fafafa;
	color: var(--main-color);
}
.videos .holder .list ul li span {
	display: block;
	margin-top: 10px;
	color: #777;
}
.videos .holder .preview {
	background-color: #e2e2e2;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.videos .holder .preview img {
	max-width: 100%;
}
.videos .holder .preview .info {
	padding: 20px;
	background-color: white;
	margin-top: 10px;
}
/* End Videos */
/* Start Footer */
.footer {
	background-color: #191919;
	padding: 70px 0 0;
}
@media (max-width: 767px) {
	.footer {
		text-align: center;
	}
}
.footer .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
}

.footer .box img {
	margin: 0 0 20px;
}
.footer .box .social {
	display: flex;
}
@media (max-width: 767px) {
	.footer .box .social {
		justify-content: center;
	}
}

.footer .box .social li {
	margin-right: 10px;
}
.footer .box .social li a {
	background-color: #313131;
	color: #b9b9b9;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
	background-color: #1877f2;
}
.footer .box .social .twitter:hover {
	background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
	background-color: #ff0000;
}
@media (max-width: 767px) {
	.footer .box .line {
		flex-direction: column;
	}
}
.footer .box .line i {
	font-size: 25px;
	color: var(--main-color);
	margin-right: 10px;
}
@media (max-width: 767px) {
	.footer .box .line i {
		margin-right: 0;
		margin-bottom: 15px;
	}
}
.footer .box .line .info {
	line-height: 1.7;
	flex: 1;
	color: white;
}
.footer .box .line .info span {
	display: block;
}
.footer .copyright {
	padding: 25px 0;
	text-align: center;
	color: white;
	margin: 50px 0 0;
	border-top: 1px solid #444;
}
.footer .copyright a {
	color: white;
}
.footer .copyright a:hover {
	color: var(--main-color);
}
@media (max-width: 767px) {
	.footer .container .box {
		text-align: center;
	}
} /* End Footer */
/* start Anmation */
@keyframes up_dowon {
	0%,
	100% {
		top: 0;
	}
	50% {
		top: -50px;
	}
}
@keyframes bouncing {
	0%,
	10%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40%,
	60% {
		transform: translateY(-20px);
	}
}
@keyframes left_move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		left: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}
@keyframes right_move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		right: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}
@keyframes moveing {
	100% {
		transform: translateX(10px);
		-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-ms-transform: translateX(10px);
		-o-transform: translateX(10px);
	}
}
@keyframes flashing {
	0%,
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
/* End Anmation */
