/* Start Global Rules */
:root {
	--main-color: #4285f4;
	--main-color-alt: #f5f4f4;
	--main-transition: 0.3s;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Cairo', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	box-sizing: none;
}
a {
	text-decoration: none;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*Small*/
@media (min-width: 768px) {
	.container {
		width: 750px;
		padding-left: 0;
		padding-right: 0;
	}
}
/*Meduim*/
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/*Large*/
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.main_title {
	position: relative;
	margin: 100px auto;
	width: fit-content;
	border: 3px solid black;
	padding: 10px 20px;
	transition: 0.3s;
	text-align: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	z-index: 2;
}

.main_title::before,
.main_title::after {
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.main_title::before {
	left: -30px;
	background-color: #34a853;
}
.main_title::after {
	right: -30px;
	background-color: #4285f4;
}
.main_title:hover:before {
	z-index: -1;
	animation: left_move 0.5s linear forwards;
	-webkit-animation: left_move 0.5s linear forwards;
}
.main_title:hover::after {
	z-index: -1;
	animation: right_move 0.5s linear forwards;
	-webkit-animation: right_move 0.5s linear forwards;
}
.main_title:hover {
	border: 5px solid white;
	transition-delay: 0.5s;
	color: white;
}
@media (max-width: 767px) {
	.main_title{
		font-size: 13px !important;
	}

}
/* End Global Rules */

/* start header */
header {
	background-color: white;
	position: relative;
	box-shadow: 0 0 10px black;
	height: auto;
	max-width: 100%;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

@media (max-width: 767px) {
	header img {
		margin: auto;
		padding-bottom: 10px;
	}
}
header .main_nav {
	display: flex;
}
header .main_nav > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	position: relative;
	color: black;
	padding: 0 30px;
	transition: var(--main-transition);
	overflow: hidden;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li:hover .mega_menu {
	opacity: 1;
	z-index: 10;
	top: calc(100% + 2px);
}
@media (max-width: 767px) {
	header .main_nav {
		margin: auto;
	}
	header .main_nav > li > a {
		padding: 10px;
		font-size: 14px;
		height: 32px;
	}
}
header .main_nav > li > a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-image: linear-gradient(
		to left,
		#4285f4 25%,
		#ea4335 25%,
		#ea4335 50%,
		#fbbc04 50%,
		#fbbc04 75%,
		#34a853 75%,
		#34a853 100%
	);
	left: -100%;
	top: 0;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
header .main_nav > li > a:hover {
	color: #ea4335;
	background-color: #f2f2f2;
}
header .main_nav > li > a:hover::before {
	left: 0;
}
header .mega_menu {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 20px;
	background-color: white;
	border-bottom: 5px solid;
	border-image: linear-gradient(
			to left,
			#4285f4 25%,
			#ea4335 25%,
			#ea4335 50%,
			#fbbc04 50%,
			#fbbc04 75%,
			#34a853 75%,
			#34a853 100%
		)30;
	z-index: -22;
	opacity: 0;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 40px;
	top: calc(100% + 50px);
	transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
	header .mega_menu {
		flex-direction: column;
		gap: 0;
	}
}
header .mega_menu .imag img {
	max-width: 100%;
}
@media (max-width: 991px) {
	header .mega_menu .imag img {
		display: none;
	}
}
header .mega_menu .links {
	min-width: 240px;
	flex: 1;
}
header span::before {
	content: "";
}
header .mega_menu .links li a {
	color: var(--main-color);
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}
header .mega_menu .links li i {
	margin-left: 10px;
}
header .mega_menu .links li {
	position: relative;
}
header .mega_menu .links li:not(:last-child) {
	border-bottom: 2px solid #e9e6e6;
}
@media (max-width: 767px) {
	header .mega_menu .links:first-of-type li:last-child {
		border-bottom: 2px solid #e9e6e6;
	}
}
header .mega_menu .links li::before {
	content: "";
	height: 100%;
	width: 0;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: var(--main-transition);
}
header .mega_menu .links li:hover::before {
	width: 100%;
}
/* End header */
/* start track */
.track-page {
	background-color: var(--main-color-alt);
	padding-top: 60px;
	padding-bottom: 60px;
	min-height: calc(100vh - 147px);
}
.track_steps {
	position: relative;
}
.track_steps::before {
	position: absolute;
	content: "";
	width: 5px;
	height: 100%;
	background-color: #ea4335;
	right: -40px;
}
.steps {
	background-color: white;
	padding: 50px;
	margin-bottom: 10px;
	position: relative;
	counter-increment: steps;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.steps::before {
	position: absolute;
	content: "" counter(steps);
	color: white;
	font-size: 20px;
	top: 14px;
	text-align: center;
	line-height: 31px;
	background-color: var(--main-color);
	width: 35px;
	height: 35px;
	right: -57px;
	border: 2px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.steps::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 25px;
	border: 10px solid;
	border-color: transparent transparent transparent white;
}
@media (max-width: 991px) {
	.steps::before {
		line-height: 34px;
		top: -48px;
		
		right: 47.2%;
	}
	.steps {
		margin-bottom: 60px;
	}
	.track_steps::before {
		top: -16px;
		right: 49.5%;
		width: 6px;
	}

	.steps::after {
		display: none;
	}

}


@media (max-width: 767px) {
	.steps {
		margin-bottom: 55px;
		text-align: center;
	}
	.track_steps::before {
		top: -16px;
		right: 49.5%;
		width: 6px;
	}
	.steps::before {
		width: 29px;
		height: 29px;
		top: -46px;
		right: 45.6%;
		line-height: 28px;
	}
	.steps::after {
		display: none;
	}
	

}
.steps h2 {
	color: var(--main-color);
	font-weight: bolder;
}
.steps p {
	line-height: 1.5;
}
.steps hr {
	margin-top: 25px;
	border: 0;
	border-top: 1px solid #34a85338;
}
.steps a {
	padding: 5px 4px;
	display: block;
	position: relative;
	top: 28px;
	width: fit-content;
	height: 30px;
	color: white;
	background-color: #ea4335;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
@media (max-width: 767px) {
	.track-page .container .steps a {

		margin: auto !important;
	}

}


/* End track */
/* Start Footer */
.footer {
	background-color: #191919;
	padding: 70px 0 0;
	bottom: -100px;
}
.footer .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 40px;
}
.footer .box img {
	margin: 0 0 20px;
}
.footer .box .social {
	display: flex;
}
@media (max-width: 767px) {
	.footer .box .social {
		justify-content: center;
	}
}
.footer .box .social li {
	margin-right: 10px;
}
.footer .box .social li a {
	background-color: #313131;
	color: #b9b9b9;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
	background-color: #1877f2;
}
.footer .box .social .twitter:hover {
	background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
	background-color: #ff0000;
}
@media (max-width: 767px) {
	.footer .box .line {
		flex-direction: column;
	}
}
.footer .box .line i {
	font-size: 25px;
	color: var(--main-color);
	margin-right: 10px;
}
@media (max-width: 767px) {
	.footer .box .line i {
		margin-right: 0;
		margin-bottom: 15px;
	}
}
.footer .box .line .info {
	line-height: 1.7;
	flex: 1;
	color: white;
}
.footer .box .line .info span {
	display: block;
}
.footer .copyright {
	padding: 25px 0;
	text-align: center;
	color: white;
	margin: 50px 0 0;
	border-top: 1px solid #444;
}
.footer .copyright a {
	color: white;
}
.footer .copyright a:hover {
	color: var(--main-color);
}
@media (max-width: 767px) {
	.footer .container .box {
		text-align: center;
	}
}
/* End Footer */
/* start Anmation */
@keyframes left_move {
	50% {
		left: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		left: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}
@keyframes right_move {
	50% {
		right: 0;
		width: 12px;
		height: 12px;
	}
	100% {
		right: 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
	}
}
/* End Anmation */
