<!-- start include dbconn  -->
<?php
 $page_title ="Add user page";
 $meta_description ="Add user description";
 $meta_keyword ="Free courses ,Events,GDSC,GDSC YEMEN ,Goole GDSC ,css php,html ,Tutorials ";
 
 include ('code.php'); 
 include ('auth_user.php'); 
 include ('incs/header.php');
 ?>
<!-- start include header  -->
<div class="container-fluid px-4">
    <h4 class="mt-4">المستخدمين</h4>
    <?php include ('message.php'); ?>
   
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add user / Admin</h4>
                    <a href="show_register.php" class="btn btn-primary float-end">back</a>
                </div>
                <div class="card-body">

             <form action="code.php" method="POST">
                    <?php include ('message.php'); ?>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">First Name</label>
                                <input  required type="text" class="form-control" name="fname">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Last Name</label>
                                <input required type="text" class="form-control" name="lname">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">UserName</label>
                                <input required type="text" class="form-control" name="username">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Email</label>
                                <input required type="email" class="form-control" name="email">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Password</label>
                                <input required type="password" class="form-control" name="password">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Role as</label>
                                <select name="role_as" id="">
                                    <option value=""> select me </option>
                                    <option value="2">Super Admin</option>
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">ststus</label>
                                <input type="checkbox" width="70px" height="70px" name="ststus">
                            </div>
                            <div class="col-md-12 mb-3">
                                <button type="submit" name="add_user" class="btn btn-primary btn_danger_add">Add_user</button>
                            </div>
                        </div>
             </form>

                </div>
            </div>
        </div>

    </div>
</div>
<?php 
include ('incs/footer.php');
include ('incs/script.php');
?>
<!-- start include script  -->